<div class="page">
  <div class="card">

    <h1 class="title">Nova Lista</h1>

    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with model: @list, local: true, class: "task-form" do |f| %>

      <div class="form-group full-width">
        <%= f.label :title, "Nome da lista", class: "subtitle" %>

        <% if @list&.errors&.any? %>
          <div class="field-error">
            <%= @list.errors[:title].first %>
          </div>
        <% end %>

        <div class="input-with-button">
          <%= f.text_field :title, class: "input full-width-input", required: true %>
          <%= f.submit "Criar", class: "btn primary" %>
        </div>
      </div>

    <% end %>

    <%= link_to "Voltar para todas as listas", todo_lists_path, class: "back-link" %>

  </div>
</div>
